.img-empresas{
    height: 150px;
    image-rendering: auto;
}
.fondo-uno{
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}



body{
background-color: #f8f9fa;
}

