.img-empresas{
    height: 150px;
    image-rendering: auto;
}
.fondo-uno{
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.fondo-mante-pre{
    background-image: url(../img/mante-preventivo.svg);
    background-repeat: no-repeat;
    background-position: 0px 160px;
    
}

body{
background-color: #f8f9fa;
}

