@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'layaut/header.css';
@import 'components/buttons.css';
@import 'layaut/clientes.css';
@import 'layaut/servicios.css';
@import 'layaut/plataformaRentaComentarios.css';
@import 'pages/login.css';
@import 'pages/formularioRegistro.css';
@import 'pages/impresoras.css';
@import 'pages/politica-garantia.css';
@import 'pages/preguntasFrecuentes.css';
@import 'pages/guia-compras.css';
@import 'layaut/footer.css';
@import 'components/linkFooter.css';
@import 'base/typografia.css';



















