/* sesion de las plataformas compartidas */
.div-principal{
    @apply grid grid-cols-1 gap-2 w-full h-auto justify-items-center content-center
    lg:grid-cols-2
}
.titulo-plataforma{
    @apply col-span-1 text-center text-titulos text-4xl font-titulo
    lg:col-span-2
}
.div-targeta{
    @apply   lg:col-span-1 w-96 h-auto text-black rounded-lg mt-10 transition duration-700 ease-in-out transform hover:-translate-y-6
}
.div-secundario-targetas{
    @apply grid grid-cols-4 p-4
}
.div-parrafos{
    @apply col-span-2 m-2 text-center w-full
}
.titulo-targeta{
    @apply col-span-4 w-full font-titulo text-center
}
.parrafo-targeta{
    @apply pt-5 font-descrip text-sm    
}
.titulo-planes-renta{
    @apply text-titulos text-center font-titulo text-3xl pt-32
}
.div-principal-renta{
    @apply grid grid-cols-1 w-full h-auto p-5 gap-3
    lg:grid-cols-12
}
.targeta-renta{
    @apply  col-span-1 lg:col-span-4 bg-white w-auto h-auto rounded-lg transition duration-700 ease-in-out transform hover:-translate-y-6 shadow-2xl mt-2 mr-4
}
.div-contenido-targeta{
    @apply grid grid-cols-6 justify-items-center content-center
}
.header-targeta{
    @apply col-span-6 text-black font-titulo text-2xl pt-2 bg-green-500 w-full text-center
}

/* .targeta-recomendacion{
    @apply col-span-6 text-ms text-gray-500 mt-3
} */
.titulo-precio-targeta{
    @apply col-span-6 text-4xl font-titulo mt-3;
}
.targera-timpo-renta{
    @apply col-span-6 text-sm text-gray-500;
}
.targeta-lista-carateristicas{
    @apply col-span-6 font-descrip flex flex-col ml-12 mt-2 text-sm; 
}
.button-primera-renta{
    @apply col-span-6 hover:bg-green-400 w-3/4 rounded-full  py-1 px-6 bg-green-500 mb-3 mt-5 font-titulo text-sm;
}
.header-targeta-segundo-plan{
    @apply col-span-6 text-black font-titulo text-2xl pt-2 bg-blue-500 w-full text-center;
}
.button-segunda-renta{
    @apply col-span-6 hover:bg-blue-400 w-3/4 rounded-full  py-1 px-6 bg-blue-500 mb-3 mt-5 font-titulo text-sm;
}
.heder-tercera-renta{
    @apply col-span-6 text-black font-titulo text-2xl pt-2 bg-purple-500 w-full text-center;
}
.button-tercera-targeta{
    @apply col-span-6 hover:bg-purple-400 w-3/4 rounded-full  py-1 px-6 bg-purple-500 mb-3 mt-5 font-titulo text-sm;
}
.div-principal-comentarios{
    @apply grid grid-cols-12 gap-4 w-full h-auto mt-20 justify-items-center p-32 content-center;
}
.title-comentarios{
    @apply col-span-12 text-center text-titulos text-4xl font-titulo p-10;
}
.tergeta-comentarios{
    @apply col-span-3 w-full h-auto bg-white rounded-lg text-center;
}
.div-img-parrafos{
    @apply grid grid-cols-12 w-full justify-items-center content-center;
}
.img-usuario-comentarios{
    @apply col-span-12 w-32 h-32 rounded-full p-2 border-2 border-yellow-500;
}
.div-parrafos-comentarios{
    @apply col-span-12 w-full h-auto m-2 p-2;
}
.titulo-usuario-cometario{
    @apply text-black font-titulo;
}
.parrafo-comentario{
    @apply text-comentario font-descrip text-sm;
}

.div-estrellas-comentarios{
    @apply inline-flex space-x-1 justify-center p-5 ;
}
.estrellas-comentarios{
    @apply w-12 h-12 fill-current text-yellow-400;
}
