 .div-principal-servisios{
    @apply grid grid-cols-1 w-full h-auto bg-gray-900 justify-items-center content-center 
    lg:grid-cols-2
    xl:grid-cols-2
    2xl:grid-cols-2
} 

.div-secundario-primer-servicio{
    @apply w-full m-20 p-5 h-auto grid grid-cols-3 content-center justify-items-center xs:col-span-2 xs:text-center xs:mt-3

}
.titulo-primer-servicio{
    @apply col-span-3 m-2 w-full text-2xl text-center text-white font-titulo uppercase
    lg:text-2xl
    xl:text-4xl
}
.parrafo-primer-servicio{
    @apply col-span-3 m-5 w-full text-white font-descrip leading-loose text-lg text-center
    lg:text-center lg:m-auto
}

.vid-primer-servicio{
    @apply shadow-md rounded-lg -mt-5
    lg:w-4/5 lg:m-auto
    xl:w-4/5 xl:m-auto
    2xl:w-4/5 2xl:m-auto;
    background: rgba(255, 255, 255, 0.35); /* Más blanco y translúcido */
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25); /* Borde más blanco */
}


.div-secundario-segundo-servicio{
    @apply w-full m-20 p-5 h-auto grid grid-cols-3 content-center justify-items-center xs:col-span-2 xs:text-center xs:-m-10
}
.titulo-segundo-servicio{
    @apply col-span-12 m-5 w-full text-4xl text-center text-white font-titulo xs:text-2xl uppercase
}
.parrafo-segundo-servicio{
    @apply col-span-12 m-5 w-full text-base leading-loose text-white font-descrip xs:text-sm
}
.carrusel-imagenes {
    @apply flex justify-center items-center relative w-full h-full overflow-hidden mt-20 xs:h-96;
}
.carrusel-img {
    @apply absolute object-fill inset-0 w-10/12 h-4/5 rounded-3xl m-10 opacity-0 transition-opacity duration-700;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(255,255,255,0.45);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    border: 1.5px solid rgba(255,255,255,0.25);
}

/* Clases para el carrucel del tercer servicio*/
.div-secundario-tercer-servicio{
    @apply w-full p-5 h-auto grid grid-cols-3 content-center justify-items-center xs:col-span-2 xs:text-center xs:-mt-24
}
.titulo-terser-servicio{
    @apply col-span-12 m-5 w-full text-4xl text-center text-white font-titulo xs:text-2xl uppercase
}
.parrafo-tercer-servicio{
    @apply col-span-12 m-5 w-full text-base leading-loose text-white font-descrip xs:text-sm
}

.divTercerCarrucel{
    @apply relative w-full max-w-xl mx-auto my-10
}
.divPrincipalCarrucelTercelServicio{
    @apply overflow-hidden rounded-2xl shadow-xl
}
.lista-iconos-tecer-servicio{
    @apply col-span-12 w-full mt-10 p-5
}
.item-tercer-servicio{
    @apply flex items-start gap-4 mb-10
}
.icono-tecer-servicio{
    @apply text-gray-500 text-3xl;
}
.icono2-tecer-servicio {
    @apply  text-yellow-500 text-3xl;
}
.icono3-tecer-servicio {
    @apply text-blue-500 text-3xl;
}
.parrafos-tercer-servicio{
    @apply text-white font-descrip text-base
}

.soporte-carrusel-img{
    @apply bg-red-600 w-full h-full object-cover transition-opacity duration-700 opacity-0 absolute top-0 left-0 rounded-2xl;
}
.btn-carrusel-mantenimiento{
    @apply absolute top-1/2 left-2 transform -translate-y-1/2 bg-white bg-opacity-70 hover:bg-opacity-100 rounded-full p-2 shadow-md;
}
.bt-carrucel-mantenimiento-right{
    @apply absolute top-1/2 right-2 transform -translate-y-1/2 bg-white bg-opacity-70 hover:bg-opacity-100 rounded-full p-2 shadow-md;
}
.wave-servicios{
    @apply col-span-12 w-full xs:col-span-2
}